* {
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(3, 19, 44);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(29, 45, 74);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    text-decoration: none;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(91, 90, 173);
    font-size: 1.05rem;
}

div div a:hover {
    font-size: 1.15rem;
    color: rgb(91, 90, 173);
    background-color: aliceblue;
}

hr {
    height: 3px;
    margin: 0px 40px;
    border: 0.2px rgb(46, 71, 118);
    background-color: rgb(29, 45, 74);
}

div>div>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 45, 74);
    font-size: 1.1rem;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;

}

.cv {
    margin-top: 20px;
    /* Adjust as needed */
}

.aboutme,
.skills,.contact-me,
.left {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    padding: 70px 0px;

}

.firstSection>div {
    width: 35%;
}

.rightSection img {
    margin-top: 60px;
    width: 85%;

}

.leftSection {
    font-size: 1.8rem;
    margin: 80px 0px 0px 70px;
}

.purple {
    color: rgb(91, 90, 173);
}

.aboutme,
.skills , .contact-me{
    margin: 0px 80px;
    font-size: 2rem;
}

.about,
.skill , .contact{
    padding-top: 78px;
}

.about h2,
.skill h2 {
    margin-bottom: 2rem;
}

.timeline {
    width: 75%;
    margin: auto;
    position: relative;
    overflow: visible;
}

.timeline::before {
    background-color: rgb(46, 71, 118);
    content: "";
    position: absolute;
    left: calc(50% - 1px);
    height: 100%;
    width: 5px;
}

.timeline-item {

    margin-bottom: 40px;

    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(even) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(odd) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 15px;
    width: 15px;
    background-color: rgb(250, 251, 252);
    /* box-shadow: 0 0 25px rgb(133, 136, 230), 0 0  */

    position: absolute;
    left: calc(50% - 5.5px);
    border-radius: 50%;
}

.timeline-time {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 15px 0 15px;

}

.timeline-content {
    background-color: rgb(46, 71, 118);
    border: 3px solid rgb(98, 126, 163);
    padding: 30px 45px;
    border-radius: 2rem;
    /* box-shadow :0 0 10px rgb(98, 117, 195);*/
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(32, 63, 94);
}

.timeline-content h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 7px;
    font-weight: 550;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
}

.hr {
    margin-top: 80px;
}

table {
    color: rgb(255, 255, 255);
    margin: auto;
    border-spacing: 45px;
}
td {
    background-color: rgb(98, 126, 163);
    border: 2px solid rgb(46, 71, 118);
    border-radius: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 0px;

}

.t {
    background-color: rgb(98, 126, 163);
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 700;
}

.skill-image{
    background-color: rgb(98, 126, 163);
    height: 130px;
    width: 130px;
    align-content: space-around;
}

td:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(246, 246, 246, 0.292);
}

#element {
    color: rgb(91, 90, 173);

}